@use "/src/styles.scss" as *;

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .top-bar{
        padding: 12px 24px;
        background-color: $main-primary-300;
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 12px;
        
        .search{
            flex: 1;
            margin: 0 12px;
        }

        .logo{
            cursor: pointer;
            width: 40px;
            height: 40px;
            padding: 8px;
            border-radius: 50%;
            background-color: $main-primary-300;
            &:hover{
                background-color: $main-primary;
            }
        }
    }
}