$main-neural: #000000;
$main-neural-400: #2E2F32;
$main-neural-300: #74767C;
$main-neural-200: #d7d7dadd;
$main-neural-100: #FFFFFF;

$main-primary: #002D58;
$main-primary-400: #004F9A;
$main-primary-300: #0071DC; 
$main-primary-200: #E6F1FC;
$main-primary-100: #F2F8FD;

$main-secondary: #FFC220;
$main-secondary-400: #FAE086;
$main-secondary-300: #FCEBB2;
$main-secondary-200: #FEF7DE;
$main-secondary-100: #FFFCF4;

$system-success: #2A8703;
$system-success-400: #03B565;
$system-success-300: #7BFDC2;
$system-success-200: #C6FEE5;
$system-success-100: #EBF9F1;

$system-error: #F24822;