<div class="footer">
    <span class="left-side">© 2024 Walmart. All Rights Reserved.</span>
    <div class="right-side">
        <div class="link">
            <span>Give feedback</span>
        </div>
        <div class="link">
            <span>CA Privacy Rights</span>
        </div>
        <div class="link">
            <img src="assets/icons/general/privacy_ic.svg" />
            <span>Your Privacy Choices</span>
        </div>
        <div class="link">
            <span>Notice at Collection</span>
        </div>
        <div class="link">
            <span>Request My Personal Information</span>
        </div>
        <div class="link">
            <span>California Supply Chains Act</span>
        </div>
    </div>
</div>