<div class="cancel-order">
    <span class="header">
        Cancel Order
    </span>
    <span class="message">
        How would you like to get the return for your cancel?
    </span>
    <div class="actions">
        <div class="action" (click)="onECash()">
            <img src="assets/icons/general/e_cash_ic.svg" />
            <span>E-Cash</span>
        </div>
        <div class="action" (click)="onRefund()">
            <img src="assets/icons/general/refund_ic.svg" />
            <span>Refund</span>
        </div>
    </div>
</div>